<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1><% listTitle %></h1>
    <div class="box">
        <% newListItems.forEach(function(n) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= n %></p>
            </div>
        <% }) %>
    </div>
    <form action="post" action="/" class="">
        <input type="text" name="newItem" placeholder="New Item">
        <button type="submit" name="button" value="<%= listItem %>">+</button>
    </form>
</body>
</html>